$board-size: 84vmin;
$board-cell-size: $board-size / 3;

.board {
  width: 100%;
  height: $board-size;

  .board_content {
    width: $board-size;
    height: $board-size;
    box-sizing: border-box;
    margin: 0 auto;
  }
}

.board_row {
  width: 100%;
  height: $board-cell-size;

  &:after {
    clear: both;
  }
}

.board_cell {
  width: ($board-cell-size - 2vmin);
  height: ($board-cell-size - 2vmin);
  float: left;
  position: relative;
  margin: 1vmin;
}

.board_item-enter {
  transform: scale(0.5);
  opacity: 0;
}

.board_item-enter-active {
  transition: all 400ms;
  transform: scale(1);
  opacity: 1;
}

.board_item-leave-active {
  transition: all 400ms;
  transform: scale(2);
  opacity: 0;
}

.board_item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.board_item_failed {
  animation-name: animation-board-fail;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

@keyframes animation-board-fail {
  0% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(0deg);
  }
}

