$margin: 1vmin;

$current-hint-size: 16vmin;
$current-hint-inner-size: $current-hint-size - 2 * $margin;

$hint-size: 10vmin;
$hint-inner-size: $hint-size - 2 * $margin;

$score-container-width: 3 * $hint-size;
$score-container-inner-width: $score-container-width - 2 * $margin;

$hint-container-width: $current-hint-size + 3 * $hint-size;
$hint-container-inner-width: $hint-container-width - 2 * $margin;

$score-hint-container-width: $score-container-width + $hint-container-width;
$score-hint-container-height: $current-hint-size;
$score-hint-container-inner-height: $score-hint-container-height - 2 * $margin;

$timer-width: 77vmin;
$timer-height: 3vmin;
$timer-inner-height: $timer-height - 2 * $margin;
$timer-back-color: #cccccc;
$timer-color1: #4f92ff;
$timer-color2: #3bf42e;
$timer-color3: #fde84c;
$timer-color4: #ff5f38;

$board-cell-size: 27vmin;
$board-cell-inner-size: $board-cell-size - 2 * $margin;
$board-size: $board-cell-size * 3;

$retry-width: 72vmin;
$retry-height: 6vmin;
$retry-border-radius: 3vmin;

/* layout */
$logo-width-portrait: 76vmin;
$logo-height-portrait: 16vmin;
$logo-width-landscape: 30vmin;
$logo-height-landscape: 6vmin;

$app-width: 100vmin;
$app-height: 100vmin;
$app-content-padding-portrait: $logo-height-portrait;
$app-content-padding-landscape: 0;

$game-over-width: 72vmin;
$game-over-height: 24vmin;
$game-over-padding-portrait: $app-content-padding-portrait + $app-height + $margin;
$game-over-padding-landscape: $app-content-padding-landscape + $score-hint-container-height + $timer-height + ($board-size - $game-over-height) / 2;

/* font size */
$font-size-small: 4vmin;
$font-size-medium: 7vmin;
$font-size-large: 12.5vmin;

