.hint_container {
  width: $hint-container-width;
  height: $score-hint-container-height;
  float: left;
}

@mixin hint_animation($pos) {
  position: absolute;
  transform: translate($pos, 0);

  &.hint_item-leave-active {
    transform: translate($pos, 0) scale(2);
    opacity: 0;
  }

  &.hint_item-enter {
    transform: translate($pos, 0) scale(0.5);
    opacity: 0;
  }

  &.hint_item-enter-active {
    transform: translate($pos, 0) scale(1);
    opacity: 1;
  }
}

.hint {
  transition: all 400ms;
  width: $hint-inner-size;
  height: $hint-inner-size;
  margin: ($current-hint-inner-size + $margin - $hint-inner-size) $margin $margin;

  &.hint-0 {
    width: $current-hint-inner-size;
    height: $current-hint-inner-size;
    float: left;
    margin: $margin;

    @include hint_animation(0);
  }

  &.hint-1 {
    @include hint_animation($current-hint-size);
  }

  &.hint-2 {
    @include hint_animation($current-hint-size + $hint-size);
  }

  &.hint-3 {
    @include hint_animation($current-hint-size + 2 * $hint-size);
  }
}

