.hint_container {
  width: $hint-container-width;
  height: $score-hint-container-height;
  float: left;
}


.hint {
  transition: all 400ms;
  width: $hint-inner-size;
  height: $hint-inner-size;
  margin: ($current-hint-inner-size + $margin - $hint-inner-size) $margin $margin;

  &.hint-0 {
    position: absolute;
    width: $current-hint-inner-size;
    height: $current-hint-inner-size;
    float: left;
    margin: $margin;

    &.hint_item-leave-active {
      transform: scale(2);
      opacity: 0;
    }
  }

  &.hint-1 {
    position: absolute;
    transform: translate($current-hint-size, 0);
  }

  &.hint-2 {
    position: absolute;
    transform: translate(($current-hint-size + $hint-size), 0);
  }

  &.hint-3 {
    position: absolute;
    transform: translate(($current-hint-size + 2 * $hint-size), 0);

    &.hint_item-enter {
      transform: translate(($current-hint-size + 2 * $hint-size), 0) scale(0.5);
      opacity: 0;
    }

    &.hint_item-enter-active {
      transform: translate(($current-hint-size + 2 * $hint-size), 0) scale(1);
      opacity: 1;
    }
  }
}

