.tile {
  position: relative;
  width: 100%;
  height: 100%;

  border-radius: 20%;

  .tile_content {
    /* to expand div*/
    position: absolute;
    top: 1vmin;
    right: 1vmin;
    bottom: 1vmin;
    left: 1vmin;

    /* to centerize text */
    display: flex;
    align-items: center;
    justify-content: center;

    /* to prevent user to select the text */
    user-select: none;

    border-radius: calc(20% - 0.5vmin);
  }
}
