.timer {
  width: $timer-width;
  height: $timer-height;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

$timer_back-margin-left: 4vmin;

.timer_back {
  width: ($timer-width - $timer_back-margin-left - $pause-button-width - $margin);
  height: $timer-inner-height;
  background-color: $timer-back-color;
  border-radius: ($timer-inner-height / 2);
  margin-left: $timer_back-margin-left;
  overflow: hidden;
}

.timer_front {
  width: 0%;
  height: 100%;
  background-color: $timer-color4;
  border-radius: ($timer-inner-height / 2);

  animation-name: animation-timer-front;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.timer_front-waiting {
  animation-play-state: paused;
}

.timer_front-active {
  animation-play-state: running;
}

@keyframes animation-timer-front {
  0% {
    width: 0%;
    background-color: $timer-color1;
  }
  9.9% {
    background-color: $timer-color1;
  }

  10% {
    background-color: $timer-color2;
  }
  24.9% {
    background-color: $timer-color2;
  }

  25% {
    background-color: $timer-color3;
  }
  49.9% {
    background-color: $timer-color3;
  }

  50% {
    background-color: $timer-color4;
  }
  100% {
    width: 100%;
    background-color: $timer-color4;
  }
}

.pause-button {
  width: $pause-button-width;
  height: $pause-button-height;
  margin-left: $margin;

  &.pause-button-pause {
    content: url(../images/pause.svg);
  }

  &.pause-button-resume {
    content: url(../images/resume.svg);
  }
}
