.timer {
  width: $timer-width;
  height: $timer-inner-height;
  margin: $margin auto;
}

.timer_back {
  width: 100%;
  height: 100%;
  background-color: $timer-back-color;
  border-radius: ($timer-inner-height / 2);
  overflow: hidden;
}

.timer_front {
  width: 0%;
  height: 100%;
  background-color: $timer-color4;
  border-radius: ($timer-inner-height / 2);
}

.timer_front-active {
  animation-name: animation-timer-front;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes animation-timer-front {
  0% {
    width: 0%;
    background-color: $timer-color1;
  }
  9.9% {
    background-color: $timer-color1;
  }

  10% {
    background-color: $timer-color2;
  }
  24.9% {
    background-color: $timer-color2;
  }

  25% {
    background-color: $timer-color3;
  }
  49.9% {
    background-color: $timer-color3;
  }

  50% {
    background-color: $timer-color4;
  }
  100% {
    width: 100%;
    background-color: $timer-color4;
  }
}
